  body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34; /* Dark background */
    color: #fafafa; /* Light text color */
  }
  
  button {
    background-color: #4e5056; /* Dark gray button color */
    color: #fafafa; /* Light text color */
    border: none;
    /*padding: 10px 20px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;/**/
    /*margin: 4px 2px;*/
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #777b82; /* Lighter gray color on hover */
    color: white;
  }
  
  input[type="checkbox"]:hover::before {
    background-color: #fafafa; /* Light background */
    color: #282c34; /* Dark text color */
    font-size: 14px;
    border-radius: 4px;
  }

  input[type="number"] {
    background-color: #fafafa; /* Light background */
    color: #282c34; /* Dark text color */
    font-size: 14px;
    border-radius: 4px;
  }
  
  input[type="number"]:disabled {
    background-color: #cccccc; /* gray background */
    color: #666666; /* dark gray text */
  }
  
  .dialog {
    background-color: #3c4048; /* Dark gray dialog color */
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  a {
    color: #fafafa;    /* #61dafb;  Light blue link color */
    text-decoration: none;
  }
  