@font-face {
  font-family: 'Roboto';
  src: url('path/to/fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('path/to/fonts/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
  overflow: hidden;
  resize: none;
}

input[type="checkbox"]:hover::before {
  content: attr(title);
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  top: 100%;
  left: 0;
  white-space: nowrap;
  z-index: 1;
}

/* Styling for dialog */
.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#confirmation-dialog p {
  margin: 0 0 10px;
}

#confirmation-dialog button {
  margin-right: 10px;
}


select {
  min-width: 100%;
}

#resultsDiv{
  width: fit-content;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#resultsDiv td{
  min-width: 150px;
}

.header button {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 99vw;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
  /* padding: 10px; Add padding for spacing */
}

#coffee {
  padding-right: 5px;
}

a {
  color: #000;
  text-decoration: none;
}